<launch>
    <!-- Choose map format from the below options -->

    <!-- Launch GMapping from Route Admin Panel (for dynamic map / SLAM) -->
    <!-- <include file="$(find route_admin_panel)/launch/gmapping.launch" /> -->
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <param name="angularUpdate" value="0.1"/>
      <param name="linearUpdate" value="0.1"/>
      <param name="temporalUpdate" value="30.0"/>
      <param name="lskip" value="0.1"/>
      <param name="delta" value="0.05"/>
      <param name="maxURange" value="3.0"/>
      <param name="maxRange" value="4.0"/>
      <param name="minimumScore" value="50.0"/>
      <param name="occ_thresh" value="0.60"/>
      <param name="xmax" value="5.0"/>
      <param name="xmin" value="-5.0"/>
      <param name="ymax" value="5.0"/>
      <param name="ymin" value="-5.0"/>
    </node>

    <!-- Launch AMCL from Route Admin Panel (for static map w/ the Map Server) -->
    <!--
    <arg name="map_file" default="$(find aiil_rosbot_demo)/maps/test_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <include file="$(find route_admin_panel)/launch/amcl.launch" />
    -->

    <!-- Move Base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find ros_challenge)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find ros_challenge)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find ros_challenge)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find ros_challenge)/config/global_costmap_params.yaml" command="load" />
      <!-- <rosparam file="$(find ros_challenge)/config/base_local_planner_params.yaml" command="load" /> -->
      <rosparam file="$(find ros_challenge)/config/trajectory_planner.yaml" command="load" />
      <remap from="cmd_vel" to="cmd_vel"/>
      <remap from="odom" to="odom"/>
      <remap from="scan" to="/scan"/>
    </node>



</launch>